{% extends "base.html" %}
{% load mathfilters %}
{% load my_filter %}

{% block contents %}
<div class="row mt-5">
    <div class="col-6">
        <a class="btn btn-primary {% if request.GET.filter != "myWritingboard" %} bg-white text-dark {% endif %}" onclick="MyFiltering(this)" name="myWritingboard" type="button">내가쓴글</a>
        <a class="btn btn-primary {% if request.GET.filter != "myWritingcomment" %} bg-white text-dark {% endif %}" onclick="MyFiltering(this)" name="myWritingcomment" type="button">댓글</a>
        <a class="btn btn-primary {% if request.GET.filter != "myLikeBoard" %} bg-white text-dark {% endif %}" onclick="MyFiltering(this)" name="myLikeBoard" type="button">좋아요</a>
    </div>
    <div class="col-6">
        <form action="." method="GET">
            <div class="input-group">
                <div class="col-4">
                    <select id="type" name="type" class="form-select" aria-label="Default select">
                        <option value="all" {% ifequal search_type "all" %} selected {% endifequal %}>선택</option>
                        <option value="title" {% ifequal search_type "title" %} selected {% endifequal %}>제목</option>
                        <option value="content" {% ifequal search_type "content" %} selected {% endifequal %}>내용</option>
                    </select>
                </div>
                <input name='word' id="word" type="text" class="form-control" placeholder="검색 키워드를 입력하세요!" value="{{search_keyword}}">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="submit">찾기</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        
        <table class="table">
            <thead class="thead-light text-center">
                {%if not request.GET.filter or request.GET.filter == "myLikeBoard" %}
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>파일</th>
                    <th>조회수</th>
                    <th>작성일</th>
                </tr>
                {% elif request.GET.filter == "myWritingboard" %}
                <tr>
                    <th><input type="checkbox" name="allSelect" id="allSelect" class="pb-2"></th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>파일</th>
                    <th>조회수</th>
                    <th>작성일</th>
                </tr>
                {% else %}
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>댓글</th>
                    <th>작성자</th>
                    <th>파일</th>
                    <th>조회수</th>
                    <th>작성일</th>
                </tr>
                {% endif %}  

            </thead>
            <tbody class="text-dark text-center">
                {% if not request.GET.filter or request.GET.filter == "myLikeBoard" %}
                    {% for board, comment_count, comment_list, file_list in fullList %}
                    <tr>
                        <th onclick="location.href='/board/detail/{{board.id}}'">{{ index_value|sub:forloop.counter|add:1 }}</th>
                        <th onclick="location.href='/board/detail/{{board.id}}'" style="text-align:left !important;">
                            {% for i in board.depth|times %}&ensp;{% endfor %}{% if board.depth != 0 %}ㄴ {% endif %}{{board.title}}
                            {% if board.writer in board.like_users.all and board.writer|stringformat:"s" == request.session.user %} <i class="fas fa-heart"></i>{% endif %}
                            {% if comment_count != 0 %} ({{comment_count}}){% endif %}
                        </th>
                        <th>{{board.writer}}</th>
                        {% if file_list %}
                            <th>
                                {% for file in file_list %}
                                    <a href="/media/{{file.file}}" download><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                    </svg></a>
                                    
                                {% endfor %}
                                <div><button type="button" name="downloadButton" onclick="location.href='/download_zip_file/{{board.id}}'" class="btn btn-sm btn-primary small pt-0 pb-0"><small>전체</small></button></div>
                            </th>
                        {% else %}
                        <th>X</th>
                        {% endif %}
                        <th>{{board.hit}}</th>
                        <th>{{board.register_date|date:"Y.m.d H:i"}}</th>
                    </tr>
                    {% endfor %}
                {% elif request.GET.filter == "myWritingboard" %}
                <form action="../board_delete_multi" method="post" id="deleteFrm">
                    {% for board, comment_count, comment_list, file_list in fullList %}
                    <tr>
                        <th><input type="checkbox" name="selectedbox_{{board.id}}" value={{board.id}} class="pb-2"></th>
                        <th onclick="location.href='/board/detail/{{board.id}}'" style="text-align:left !important;">
                            {% for i in board.depth|times %}&ensp;{% endfor %}{% if board.depth != 0 %}ㄴ {% endif %}{{board.title}}
                            {% if board.writer in board.like_users.all and board.writer|stringformat:"s" == request.session.user %} <i class="fas fa-heart"></i>{% endif %}
                            {% if comment_count != 0 %} ({{comment_count}}){% endif %}
                        </th>
                        <th>{{board.writer}}</th>
                        {% if file_list %}
                        <th>
                            {% for file in file_list %}
                                <a href="file"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                </svg></a>
                            {% endfor %}
                            <div><button type="button" name="downloadButton" onclick="location.href='/download_zip_file/{{board.id}}'" class="btn btn-sm btn-primary small pt-0 pb-0"><small>전체</small></button></div>
                        </th>
                        {% else %}
                        <th>X</th>
                        {% endif %}
                        <th>{{board.hit}}</th>
                        <th>{{board.register_date|date:"Y.m.d H:i"}}</th>
                    </tr>
                    {% endfor %}
                </form>
                {% else %}
                    {%for board, comment_count, comment_list, file_list in fullList %}
                    <tr>
                        <th onclick="location.href='/board/detail/{{board.id}}'">{{ index_value|sub:forloop.counter|add:1 }}</th>
                        <th onclick="location.href='/board/detail/{{board.id}}'" style="text-align:left !important;">
                            {% for i in board.depth|times %}&ensp;{% endfor %}{% if board.depth != 0 %}ㄴ {% endif %}{{board.title}}
                            {% if board.writer in board.like_users.all and board.writer|stringformat:"s" == request.session.user %} <i class="fas fa-heart"></i>{% endif %}
                            {% if comment_count != 0 %} ({{comment_count}}){% endif %}
                        </th>
                        <th>
                            {% for comment in comment_list %}
                            {{comment.contents}} <br>
                            {% endfor %} 
                        </th>
                        <th>{{board.writer}}</th>
                        {% if file_list %}
                        <th>
                            {% for file in file_list %}
                                <a href="file"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                </svg></a>
                            {% endfor %}
                            <div><button type="button" name="downloadButton" onclick="location.href='/download_zip_file/{{board.id}}'" class="btn btn-sm btn-primary small pt-0 pb-0"><small>전체</small></button></div>
                        </th>
                        {% else %}
                        <th>X</th>
                        {% endif %}
                        <th>{{board.hit}}</th>
                        <th>{{board.register_date|date:"Y.m.d H:i"}}</th>
                    </tr>
                    {% endfor %}
                {% endif %}  
            
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <ul class="pagination justify-content-center">
            
            {% if boards.has_previous %}
                <li class='page-item'>
                    <a class='page-link' href='?p={{ boards.previous_page_number }}
                    {% if search_type%}&type={{search_type}}{% endif %}
                    {% if search_keyword %}&word={{search_keyword}}{% endif %}
                    {% if filter %}&filter={{filter}}{% endif %}
                    '>이전</a>
                </li>
            {% endif %}
                
            <li class='page-item active'>
                <a class='page-link' href='#'>{{ boards.number }} / {{ boards.paginator.num_pages }}</a>
            </li>

            {% if boards.has_next %}
                <li class='page-item'>
                    <a class='page-link' href='?p={{ boards.next_page_number }}
                    {% if search_type%}&type={{search_type}}{% endif %}
                    {% if search_keyword %}&word={{search_keyword}}{% endif %}
                    {% if filter %}&filter={{filter}}{% endif %}
                    '>다음</a>
                </li>
            {% endif %}
            
            
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <button class="btn btn-primary" onclick="location.href='/'">돌아가기</button>
    </div>
    <div class="col-6" align="right">
        {% if request.GET.filter == "myWritingboard" %}
        <button class="btn btn-primary" onclick="deleteFunction()">삭제</button>
        {% endif %}
        <button class="btn btn-primary" onclick="location.href='/board/write/'">글쓰기</button>
    </div>
</div>

<script type="text/javascript">
{% if messages %}
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
{% endif %}

function MyFiltering(event) {
    filter_name = $(event).attr('name');
    const URLSearch = new URLSearchParams(location.search);
    URLSearch.set('filter', String(filter_name));
    URLSearch.set('p', String(1));
    const newParam = URLSearch.toString();
    window.open(location.pathname + '?' + newParam, '_self');
}

$('#allSelect').click(function() {
    if($("input:checkbox[name='allSelect']").prop("checked")) {
        $('input[type=checkbox]').prop("checked", true);
    } else {
        $('input[type=checkbox]').prop("checked", false);
    }
});
function deleteFunction() {

    $('#deleteFrm').submit();
}
</script>


{% endblock %}
